.App-footer {
    color: rgb(0, 0, 0);
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    background-color: black;
  }

  
nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color:white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 4px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }